:root {
    --main-text-color: rgb(64, 64, 64);
    --background-color: rgb(235, 234, 234);
}

body {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: black
}
h2 {
    font-weight: bold;
    font-size: 36px;
}

p {
    font-size: 18px;
    opacity: 70%;
}
.hero h2 {
    font-size: 18px;
    margin-bottom: 100px;
    font-weight: bold;
    color: black;
}

.hero p {
    font-size: 20px;
    padding: 60px 0px 0px 0px;
}
.hero .btn-light {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}
.hero {
    text-align: center;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/055/536/original/rafael-de-nadai-b0eg-PYGICQ-unsplash.jpg?1669589599");
    background-position: center center;
    background-size: 100%;
}
.btn-light {
    font-family: 'Montserrat', sans-serif;
}
  

.project-description {
    padding: 50px 30px;
}


@media (max-width: 900px) {
    .project-description { 
        padding: 0;
        text-align: center;
    }
    .hero {
        background-image: none;
        background-color: var(--background-color);
    }

    .hero h2 {
        margin-bottom: 40px;
    }
    
    .hero .btn-light {
        margin-bottom: 40px;
    }
}