:root {
    --main-text-color: rgb(192, 191, 191);
    --background-color: rgb(224, 222, 222);
}

body {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: var(--main-text-color)
}
h2 {
    font-weight: bold;
    font-size: 24px;
}
p {
    font-size: 15px;
    opacity: 70%;
}
.hero h2 {
    font-size: 15px;
    margin-bottom: 120px;
    font-weight: bold;
    color: black;
}

.hero p {
    color: rgb(226, 224, 224);
    font-size: 20px;
    padding: 20px 0px 0px 0px;
}
.hero .btn-light {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}
.hero {
    text-align: center;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/055/525/original/build-separate2.jpg?1669582998");
    background-position: center center;
    background-size: 100%;
}
.btn-light {
    font-family: 'Montserrat', sans-serif;
}

.project-description {
    padding: 50px 30px;
}

.description {
    opacity: 100%;
}

@media (max-width: 900px) {
    .project-description { 
padding: 0;
text-align: center;
    }
    .hero {
        background-image: none;
        background-color: var(--background-color);
    }
}